<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279778724826-g0m9sn7jbnf1qlo76udhdgjej62m1e0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279778724826-g0m9sn7jbnf1qlo76udhdgjej62m1e0k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>279778724826-ugr4n48odbpu9mcfej42huccss5g5mfb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAix4xaeGkDgfIOgLynUIRa7uCz_q_2JuE</string>
	<key>GCM_SENDER_ID</key>
	<string>279778724826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-tut-da314</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-tut-da314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279778724826:ios:d40ac53cdf09586c394ee3</string>
</dict>
</plist>